<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CosmosJobMonitor.GetUserHierarchy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CosmosJobMonitor.GetUserHierarchy.Properties.Settings.JobStatisticsConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\JobStatistics.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="PeopleStoreSoap" maxReceivedMessageSize="67108864">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="UserName" algorithmSuite="Default"/>
                </security>
              </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="PeopleStoreSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://who/PeopleStore.asmx" binding="basicHttpBinding" bindingConfiguration="PeopleStoreSoap" contract="WhoService.PeopleStoreSoap" name="PeopleStoreSoap"/>
            <endpoint address="http://who/PeopleStore.asmx" binding="customBinding" bindingConfiguration="PeopleStoreSoap12" contract="WhoService.PeopleStoreSoap" name="PeopleStoreSoap12"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <CosmosJobMonitor.GetUserHierarchy.Properties.Settings>
            <setting name="TopLevelAliases" serializeAs="String">
                <value>nzeng</value>
            </setting>
            <setting name="DataDirectory" serializeAs="String">
                <value>..\..\..\Data</value>
            </setting>
        </CosmosJobMonitor.GetUserHierarchy.Properties.Settings>
    </applicationSettings>
</configuration>
